.bookpage-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: #FFFFFF;
}
.book-container{
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    position: relative;
    right: 0.5vw;
    top: 10vh;
}
.book-head1{
    font-family: DM Sans;
    font-size: 1.8em;
    color: #000000;
    font-weight: 700;
    text-align: center;
}
.books-container{
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    position: relative;
    left: 2.5vw;
}
.each-container-book{
    height: 65vh;
    width: 20vw;
    border-radius: 10px;
    cursor: pointer;
}
.slide-container-book{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.img-slide-book{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.vid-slide-book{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.para-div-book{
    height: 20vh;
    width: 20vw;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(0deg, #000000 85%, rgba(0, 0, 0, 0) 102.31%);
    position: relative;
    bottom: 20vh;
}
.h1-para-book{
    font-family: DM Sans;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    position: relative;
    bottom: 4vh;
}
.h2-para-book{
    font-family: DM Sans;
    font-size: 0.6em;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    position: relative;
    bottom: 11vh;
}
.book-head2{
    width: 100%;
    font-family: DM Sans;
    font-size: 1.5em;
    color: #000000;
    font-weight: 700;
    text-align: center;
    color: #8E8E8E;
}
@media (max-width: 500px){
    .bookpage-container{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100vh;
        width: 100vw;
        background-color: #FFFFFF;
    }
    .book-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        position: relative;
        right: 0.5vw;
        top: 5vh;
    }
    .book-head1{
        font-family: DM Sans;
        font-size: 1.8em;
        color: #000000;
        font-weight: 700;
        text-align: center;
    }
    .books-container{
        width: 95vw;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 2.5vw;
    }
    .each-container-book{
        height: 65vh;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
    }
    .slide-container-book{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .img-slide-book{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .vid-slide-book{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    .para-div-book{
        height: 20vh;
        width: 100%;
        border-radius: 0 0 10px 10px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: linear-gradient(0deg, #000000 85%, rgba(0, 0, 0, 0) 102.31%);
        position: relative;
        bottom: 20vh;
    }
    .h1-para-book{
        font-family: DM Sans;
        width: 95%;
        font-size: 1.5em;
        font-weight: 700;
        text-align: left;
        color: #FFFFFF;
        position: relative;
        bottom: 2vh;
        left: 2vw;
    }
    .h2-para-book{
        font-family: DM Sans;
        width: 95%;
        font-size: 0.6em;
        font-weight: 700;
        color: #FFFFFF;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        position: relative;
        bottom: 8vh;
        left: 2vw;
    }
    .book-head2{
        width: 100%;
        font-family: DM Sans;
        font-size: 1.5em;
        color: #000000;
        font-weight: 700;
        text-align: center;
        color: #8E8E8E;
    }
}